@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ecf0f1;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #ecf0f1;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}