html {
  scroll-behavior: smooth;
}
:root {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #000000;
  color: #CCCCCC; /* Light gray for body text */
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF; /* White for headings */
}

a {
  font-weight: 500;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 0.25s;
}

a:hover {
  color: #AAB1C6;
}

button, .cta-button {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.8em 1.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s;
  background-color: #299d02; /* Bright green */
  color: #ffffff;
}

button:hover, .cta-button:hover {
  box-shadow: 0 0 10px #299d02;
  transform: translateY(-2px);
}
